<meta charset="utf-8" />
<script src="https://unpkg.com/vue"></script>

<div id="app">
  <p v-once>{{titulo}}</p>
  <p>{{titulo}}</p>
  <input type="text" v-model="titulo">
  <input type="text" @keyup.enter='mostra'>
  <input type="checkbox" v-model="muda" @click="mudaTitulo">
</div>

<script>
  new Vue({
    el: '#app',
    data: {
      titulo: "Titulo da página",
      muda: false
    },
    methods: {
      mudaTitulo() {
        this.titulo = !this.muda ? "Mudei o titulo" : "Titulo da página"
      },
      mostra(e){
        alert("Digitei "+ e.target.value);
      }
    }
  })
</script>